#root {
  height: 100%;
  margin: 0px;
  max-width:100%;
  text-align: center;
}
/* Text style */

/* hover effect on menu items */
.menuwrapper {
  position: relative;
  height: 100%; /* Adjusted to fit all 4 layers */
  width: 100%;
}
.menu {
  border-radius: 1rem;
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  height: calc((100vh - 5rem) / 3.5);
  border-top: 2px solid rgba(0, 0, 0, .5);
  /* box-shadow: 0 0 3px 1px rgb(0, 0, 0); */
  transition: all 0.3s ease;
  background-color: #facc15;
  padding: 1rem;
}

/* Top menu (visible, normal flow) */
.topmenu {
  position: relative;
  z-index: 1;
}

/* 3 stacked cards below the top one */
.secondmenu {
  position:absolute;
  top:calc((100vh - 5rem) / 5);
  z-index: 2;
}

.thirdmenu {
  position: absolute;
  top: calc((100vh - 5rem) / 2.5);
  z-index: 3;
}

.fourthmenu {
  position: absolute;
  top: calc((100vh - 5rem) / 1.65);
  z-index: 4;
}

/* On hover of the whole menu group */
.topmenu:hover {
  background-color: #023ca1;
  height: 10rem;
}

.topmenu:hover + .secondmenu {
  top: 7.5rem;
}
.topmenu:hover ~ .thirdmenu{
  top: 14rem;
}
.topmenu:hover ~ .fourthmenu{
  top: 20.5rem;
}
.secondmenu:hover {
  background-color: #023ca1;
}

.secondmenu:hover ~ .thirdmenu{
  top: 14rem;
}
.secondmenu:hover ~ .fourthmenu{
  top: 20.5rem;
}
.thirdmenu:hover {
  background-color: #023ca1;
}
.thirdmenu:hover ~ .fourthmenu{
  top: 20.5rem;
}
.fourthmenu:hover {
  background-color: #023ca1;
}
